.comics__item {
  transition: 0.3s transform;
  img {
    height: 346px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  }
  &__name, &__price {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    text-align: start;
  }
  &__price {
    color: rgba(0, 0, 0, .6);
  }
  &:hover {
    transform: translateY(-5px);
  }
}